div{
    background-color: blue;
    width: 200px;
    height: 200px;
    margin: 300px;
    box-shadow: 20px 20px 5px grey;
}
div:hover{
    transform: translate(-10px,-10px);
    box-shadow: 30px 30px 5px grey;
    transition: 2s ;
}
div:active{
    transform: translate(10px,10px);
    box-shadow: 10px 10px 5px grey;
    transition: 2s;
}



